*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
border: red 3px solid	
}
body input:required:valid,
body textarea:required:valid {
border:green 3px solid
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

.header_topline {
	background-color: rgba(0, 0, 0, 0.69);
	padding: 15px 0;
	color: #fff;
}

.header_topline a {
color: #fff
}

.top_links {
	display: inline-block;
	vertical-align: middle;
	z-index: 10;
	

}

.top_links a {
	text-decoration: underline;
}

.top_links a:hover {
	text-decoration: none;
}

.social_buttons {
	float: right;
	font-size: 26px;
	margin-left: 8px;
}

.auth_buttons,
.main_mnu_button {
	border: none;
	background-color: transparent;
	font-size: 26px;
}
.main_mnu_button {
	color: #fff;
	padding: 8px 15px 0;
}

.logo {
	display: block;
	padding: 15px 0;
	color: #fff;
	font-family: "NautilusPompiliusRegular";
	font-size: 42px;
	text-align: center;

}

.top_header {
	background-color: #4AAAD2;
}

.maian_mnu {
	background-color: #3797bf;
	color: #fff;
	margin-bottom: 20px;
}
.maian_mnu a {
	color: #fff;
	padding: 15px 15px;
	display: block;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.maian_mnu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	text-transform: uppercase;
}

.top_contacts {
	float: right;
	font-size: 32px;
	padding: 0 15px;
	background-color: #1D5B75;
	line-height: 53px;
}
.maian_mnu ul {
	z-index: 12;
}
.maian_mnu ul li {
	display: inline-block;
}
.maian_mnu a:hover{
	background-color: #1D5B75 
}

h1 {
	text-align: center;
	color: #fff;
	font-family: "RobotoCondensedLight";
	text-transform: uppercase;
}
.sider_container img {
	max-width: 100%;
}
.sider_container {
	position: relative;
}
.next_button,
.prev_button {
	color: #fff;
	font-size: 46px;
	position: absolute;
	z-index: 10;
	cursor: pointer;
	top: 40%;
	background-color: rgba(68,68,68,0.74);
	padding: 0 25px;
	border-radius: 10px;
}
.next_button {
	right: 20px;
}
.prev_button {
	left: 20px;
}
section.order {
	background-color: #CCDCE2;
	padding: 25px 0
}
.sell_descr {
	font-size: 22px;
	padding-top: 5px;
}
.button {
	display: block;
	border: none;
	background-color: rgb(23, 159, 171);
	color: #fff;
	padding: 10px 20px;
	border-radius: 3px;
	text-transform: uppercase; 
	text-align: center;
}
.button:hover {
	background-color: #75D4DC;
}
.button:active {
	background-color: #134F54;
}
.sell_right .button {
	float: right; 
}
.hidden {
	display: none;
}
.pop_form input[type="text"] {
	display: block;
	line-height: 24px;
	width: 90%;
	margin: 0 auto 12px;
	border: #999 3px solid;
}
.pop_form .button {
	margin: 20px auto 0;
}
.pop_form h3 {
	margin: 10px auto 15px;
	text-align: center;
	font-weight: normal;
	font-family: "RobotoCondensedBold";
	text-transform: uppercase;
}
.blog_item img {
	max-width: 100%;
	margin-bottom: 20px;
}
.blog_item h3 {
	text-transform: uppercase;
	font-family: "RobotoCondensedRegular";
	margin-bottom: 10px;
}
.blog_item h3 a {
	text-decoration: underline;
}
.blog_item p {
	margin-top: 0;
}
.right_aside {
	padding: 15px 20px;
	border-radius: 5px;
	background-color: #EEEEEE;
	margin-top: 30px;
}